*{
    margin: 0%;
    padding: 0%;
}
.header{
    min-height: 90vh;
    width: 100%;
    background-image:linear-gradient(90deg, rgba(29,45,68,0.7371323529411764) 100%, rgba(0,212,255,0) 100%), url(./assests/bio-img.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav img{
    width: 350px;
    margin-left: 24px;
}

.bio{
    width: auto;
    color: #FFF;
    position:static;
    margin-top: 200px;
    left: 50%;
    text-align: center;
}
.bio h1{
    font-size: 64px;
    font-family: 'Oleo Script', cursive;
    
}
.bio p{
    margin: 10px 0 10px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}
.btn{
    display: inline-block;
    text-decoration: none;
    color: #FFF;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.btn:hover{
    border: 2px solid #dbbd6b;
}
nav .fa-solid{
    display: none;
}
@media  (max-width:700px) {
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
    }
    .bio h1{
        font-size: 20px;
    }
    
    header {
        color: #fff;
        text-align: center;
        padding:20px;
    }

    h1 {
        margin: 0;
    }

    .container {

            max-width: 1200px;
            margin: 0 auto;
            padding: 10px;
    }

    .product {
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 20px;
        margin: 20px;
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: transform 0.2s;
    }

    .product:hover {
        transform: scale(1.05);
    }

    .product img {
        max-width: 100%;
        height: auto;
    }

    .product h2 {
        font-size: 24px;
    }

    .product p {
        font-size: 16px;
    }
    .vertical-center {
        margin: 0;
        position: absolute;
        padding: 12px 28px;
        background-color: #333;
        top: 50%;
        left: 44%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
 

}

header {
    color: black;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

.container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
}

.product {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.product:hover {
    transform: scale(1.05);
}

.product img {
    max-width: 100%;
    height: 200px;
}

.product h2 {
    font-size: 24px;
}

.product p {
    font-size: 16px;
}

.product button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
}

.product button:hover {
    background-color: #555;
}

.container-1 {
    height: 100px;
    position: relative;
  }
  
  .vertical-center {
    margin: 0;
    position: absolute;
    padding: 12px 28px;
    background-color: #333;
    top: 50%;
    left: 44.5%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .btn-1{
    color: white;
    text-decoration: none;
  }